.Activity {
  position: static;
  padding: 16px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.active,
.inactive {
  position: static;
  margin-bottom: 24px;
}

#Active,
#Inactive {
  position: static;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 10px;
}